User name: <input [value]="model.user.name" (blur)="onChangeProperty(model.user, 'name', $event.target.value)">

<h1> Gizmos! </h1>

<ul>
  <li *ngFor="let item of model.gizmos.items">
    Name: <input [value]="item.name" (blur)="onChangeProperty(item, 'name', $event.target.value)">
    Sprockets: <input type="number" [value]="item.sprockets" (blur)="onChangeProperty(item, 'sprockets', $event.target.value)">
  </li>
</ul>

<button (click)="newGizmo()">Add New Gizmo</button><br>
<button (click)="undo()">Undo</button><br>

<div>
  <h2>Data model:</h2>
  {{model | json}}

  <h2>History:</h2>
  <div *ngFor="let snapshot of history; let i = index">
    <h3>#{{i}}</h3>
    {{snapshot | json}}
  </div>
</div>
